
  ion-content{
    --background: url(../../assets/Estrellas.jpg) no-repeat center center/cover;
}
ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.ion-text-center {
 color: white;
}

ion-icon {
  color: white;
 }
